@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/*

MUDAR NO BACKEND TODAS QUE ESTAO SOMANDO ASSIM: +1, -1 E ETC PARA NAO DAR PROBLEMA DE CONCORRENCIA, FAZER UM SELECT E DEPOIS UM UPDATE

FAZER AS SOMAS DE CADA PARCELA E EMPRESTIMO PARA O CAIXINHA, QUANDO APAGAR UM EMPRESTIMO MUDAR O VALOR DO CAIXA E QUANDO ADICIONAR TAMBEM QUANDO PAGAR TAMBEM E ASSIM VAI


terminar questao das rotas para contabilizar as colunas da tabela de clientes, fazer o seguinte na rota que verifica ao abrir o modal do cliente para ver as informações do cliente, fazer para contabilizar os dados de emprestimos por la mesmo na rota que verifica.

fazer verifição para perguntar antes de colocar o emprestimo como pago



QUERO COLOCAR UM BOTAO TAMBEM PARA GERAR RELATORIO DE TODA A DASHBOARD

COLOCAR UM BOTAO PARA ENVIAR OS DADOS DO EMPRESTIMO PARA O CLIENTE NO EMAIL SE MEU PAI QUISER, SE ELE QUISER COLOCAR MAIS UM DETALHE NAS INFORMAÇÕES DO CLIENTE QUE SERIA O EMAIL DO CLIENTE.

COLOCAR UM BOTAO PARA ENVIAR O PARA O WHATSAPP TAMBEM DIRETO PARA O CLIENTE PEGANDO O NUMERO DELE NOS DETALHES DO CLIENTE, OU ENVIAR PARA MEU PAI MESMO NO CELULAR SECUNDARIO

COLOCAR UM VERIFICAÇÃO MAIS PRA FRENTE SE MEU PAI QUISER PARA MOSTRAR O HISTORICO DO CLIENTE E COLOCAR O NOME DO CLIENTE COMO SUJO NA EMPRESA


DEPOIS QUANDO EU CONSEGUIR DESENVOLVER UM AGENTE DE IA, EU TENTAR DESENVOLVER UM AGENTE DE IA PARA MEU PAI, QUE ELE VAI CONSEGUIR PERGUNTAR PARA O AGENTE DE IA COISAS SOBRE OS CLIENTES, EMPRESTIMOS, VALORES, ETC... E ELE VAI RESPONDER COM BASE NOS DADOS DO BANCO DE DADOS, E ELE CONSEGUIR TAMBEM CADASTRAR EMPRESTIMOS PARA MEU PAI
*/


:root {
  --bg-color: #f5f5f5;
  --text-color: #000000;
  --sidebar-bg: #ffffff;
  --hover-bg: #e0e0e0;
  --active-bg: #d5d5d5;
}

.lightTheme {
  --bg-color: #f5f5f5;
  --text-color: #000000;
  --sidebar-bg: #ffffff;
  --hover-bg: #e0e0e0;
  --hoverscrollbar-thumb: #b0b0b0;
  --active-bg: #d5d5d5;
  --button-hover: #cccccc;
}

.darkTheme {
  --bg-color: #121212;
  --text-color: #ffffff;
  --sidebar-bg: #1c1c1c;
  --hover-bg: #333333;
  --hoverscrollbar-thumb: #444444;
  --active-bg: #2a2a2a;
  --button-hover: #303030;
}

html, body, #root {
  height: 100dvh;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 16px;
  box-sizing: border-box;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) and (pointer: fine) {
  ::-webkit-scrollbar {
    width: 3px;
    height: 2px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #929292;
    transition: background 0.3s ease;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--hoverscrollbar-thumb);
  }

  ::-webkit-scrollbar-button {
    display: none;
  }
}

@supports (-webkit-touch-callout: none) {
  input,
  textarea {
    font-size: 16px; 
  }
}
